@font-face {
	font-family: Roboto-Light;
	src: url(../fonts/roboto/Roboto-Light.ttf); 
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

body {
    /* Background Gradient for different browsers */
    background: #466368;
    background: linear-gradient(#648880, #293f50);	
    /* end */
    color:#ddd;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-image {
	z-index: -1;
	position: absolute;
	overflow: hidden;
    width: 30%;
	height: 100%;	
	background-color:#333;
    //background-image: url('../img/computer_stock_2.png');
	opacity: 0.9;
	border-right: 1px dotted #ddd;
}

.buttons {
	margin-top: -5px;
	padding-left: 20px;
}

/* small buttons used frequently */
.btn.btn-small.btn-default {
	margin-top: 1px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #222;
	border: 0px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	color: #ddd;
	height: 30px;
	width: 125px;
	padding-top: 5px;
}

.btn.btn-small.btn-default:focus{outline:none;}

.btn.btn-small.btn-default:hover {
    box-shadow: inset 0px 0px 2px 1px #111;
    opacity: 0.7;
    //box-shadow: 0px 0px 2px 1px #383838;
    //background-color: #293f50;
}

/* large buttons used frequently */
.btn.btn-large.btn-default {
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #222;
	border: 0px;
	border-left: 1px solid #333;
	border-right: 1px solid #333;
	border-radius: 7px;
    color: #ddd;
	height: 50px;
	width: 300px;
	padding-top: 7px;
    font-size: 24px;
}

.btn.btn-large.btn-default:hover {
    box-shadow: inset 0px 0px 2px 1px #111;
    opacity: 0.7;
    //box-shadow: 0px 0px 2px 1px #383838;
    //background-color: #293f50;
}

.btn.btn-large.btn-default:focus {
    box-shadow: inset 0px 0px 2px 1px #111;
    opacity: 0.5;
    //box-shadow: 0px 0px 2px 1px #383838;
    //background-color: #293f4d;
    outline: none;
}

.col-md-4 {
    color:#ddd;    
}

.center-sm {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}

.center-lg {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

.center-vertical {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.container > div {
	color: #ddd;
	height: 100%;
}

.container > span > h1 {
	color: #ddd;
    font-size: 72px;
}

.container-center {
    position: relative;
    overflow-y: scroll;
    margin-bottom: auto;
    margin-top: auto;
}

#construction {
    margin-bottom: auto;
	margin-top: auto;
    margin-left: auto;
	margin-right: auto;
	padding: 10px;
	border: 2px solid #666;
/*
	border-top: 2px dotted #666;
	border-bottom: 2px dotted #666;
	border-left: 2px solid #999;
	border-right: 2px solid #999;
*/
	width: 75%;
	border-radius: 4px;
	background-color: #ddd;
	color: #333;
	-moz-box-shadow: 0px 0px 0px 25px #fff;
	-webkit-box-shadow: 0px 0px 0px 25px #fff;
	box-shadow: 0px 5px 5px 1px #222;
	opacity: 0.75;
}

#footer-copyright {
	padding-left:2%;
	border-left: 1px solid white;
	height:100%;
	font-family: Roboto-Light;
}

#footer {
	width:100%;
	overflow:hidden;
	position:fixed;
	color: #ffffff;
	padding-top: 10px; 
	padding-bottom: 1%;
	padding-right: 1%;
	font-family: Roboto-Light;
	opacity: 0.9;
}

.form {
    color:#ffffff;    
}

.form-container {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}

html {
    overflow: hidden;
    height: 100%;
    margin: 0;
    padding: 0;
}

hr {
	color: #666666;
	height: 1px;
}

#intro-text {
	-webkit-animation-duration: 2s;
	-webkit-animation-delay: 5s;
}

.main-container {
    overflow:hidden;
	position: absolute;
	min-height: 100%;
	height: 100%;
	padding: 20px;
	width: 100%;
	font-family: Roboto-Light;
}

#main-info {
	padding-left: 10%;
	height: 100%;
	min-height: 100%;
}

.control-label {
    color:#ccc;
}

.panel {
    margin-top: 3em;
    margin-bottom:20px;
    background-color: inherit;
    border:1px solid transparent;
    border-radius:4px;
    -webkit-box-shadow:0 1px 1px rgba(0,0,0,.05);
    box-shadow:0 1px 1px rgba(0,0,0,.05)
}

.panel-body {
    padding:15px;
}

.panel-default {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    overflow-y: hidden;
    background-color: #7C6C3B; 
}

.panel-heading {
    opacity: 0.5;
    padding:10px 15px;
    border-bottom:1px solid transparent;
    border-top-left-radius:3px;
    border-top-right-radius:3px
}

.panel-internal {
    position: relative;
    overflow-y: scroll;
}

.project {	
	min-height: 110px;
	margin: 5px;
}


.push, #footer {
	height: 3em;
}

.screenshot {
    margin: 5px;
    padding: 1px;
    border: 1px solid #222;
}

.td {
    max-width: 150px;
    word-wrap: break-word;
}

.welcome {
    color: #ccc;
    font-size: 56px;
    text-shadow: 0px 0px 15px 20px #222;
}

.well > h1 {
    color: #333;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -3em;	
}
