<td>
    <h3>{{ project.name|title }}</h3>
    <p>{{ project.description|truncatechars:200 }}</p>
    <p>Team: {{ project.team|upper }}</p>
    <p>
    {% if project.status == project_status.COMPLETE %}
        Date Completed: {{ project.date_completed|date }}
    {% endif %}
    </p>
    {% for role in project.role %}
        
    {% endfor %}
    {% if user.is_authenticated and 'admin' in request.path %}
        <a href="{% url 'stuff-delete-project' project.pk %}" class='btn btn-default btn-small'>Delete</a><p>
        <a href="{% url 'stuff-edit' project.pk %}" class='btn btn-default btn-small'>Edit</a><p>
    {% endif %}
</td>
<td>
{% if project.site_url %}<a href='{{ project.site_url }}'>{% endif %}
    <img class='screenshot pull-right' src='{{ STATIC_URL }}img/screenshots/{{ project.screenshot }}' width=400px height=275px>
{% if project.site_url %}</a>{% endif %}
</td>
