<div class='ui card'>
    <div class='image'>
    {% if user.is_authenticated and 'admin' in request.path %}
        {% if project.site_url %}<a href='{{ project.site_url }}'>{% endif %}
            <img class='pull-right' src='{{ STATIC_URL }}img/screenshots/{{ project.screenshot }}' alt='' width=200 height=150 />
        {% if project.site_url %}</a>{% endif %}
    {% else %}
        <div class='screenshot-container'>
            {% if project.site_url %}<a href='{{ project.site_url }}'>{% endif %}
                <img class='screenshot pic pull-right' src='{{ STATIC_URL }}img/screenshots/{{ project.screenshot }}' alt='' width=400 height=275 />
            {% if project.site_url %}</a>{% endif %}
        </div>
    {% endif %}
    </div>
    <div class='content'>
        <div class='header'><h3>{{ project.name|title }}</h3></div>
        <div class='description'>
            {% if user.is_authenticated and 'admin' in request.path %}
                <p>{{ project.description|truncatechars:100 }}</p>
            {% else %}
                <p>{{ project.description|truncatechars:250 }}</p>
            {% endif %}
        </div>
        <div class='meta'>
            <p>Team: {{ project.team|upper }}</p>
            <p>
            {% if project.current_state == ProjectState.COMPLETED %}
                Date Completed: {{ project.date_completed|date }}
            {% endif %}
            </p>
            <p>
        </div>
        <div class='extra content'>
            Type: 
            {% if project.type == ProjectType.WEBSITE %}
                Website
            {% elif project.type == ProjectType.APPLICATION %}
                Application
            {% elif project.type == ProjectType.ELECTRONICS %}
                Electronics
            {% elif project.type == ProjectType.MUSIC %}
                Music
            {% endif %}
            </p>
        </div>
    </div>
{% if user.is_authenticated and 'admin' in request.path %}
    <p class='pull-right'><a href="{% url 'stuff-delete-project' project.pk %}" class='btn btn-default btn-small'>Delete</a>
    <p class='pull-right'><a href="{% url 'stuff-edit' project.pk %}" class='btn btn-default btn-small'>Edit</a>
{% endif %}
</div>
