{% extends 'base.html' %}
{% block title %}What I do{% endblock %}

{% block content %}
    <div class="col-md-4">
        <h1>I did some stuff</h1>
        <br />
        <p><a href='#' class='btn btn-default btn-large center-sm'>Websites</a></p>
        <p><a href='#' class='btn btn-default btn-large'>Applications</a></p>
        <p><a href='#' class='btn btn-default btn-large'>Electronics</a></p>
        <p><a href='#' class='btn btn-default btn-large'>Music</a></p>
    </div>
    <div class="container col-md-8 pull-rigth">
        <div class='container-center'>
            {% include 'stuff/_projects.html' %}
        </div>
    </div>
    <script>
       $(document).ready(function(){
       var height = $(document).height() - 100;
       $('.container-center').height(height);
       });
    </script>
{% endblock %}

