{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class='col-md-3 center-vertical'>
    {% include 'stuff/_menu.html' %}
</div>
<div class='container col-md-8 pull-right'>
    <span><h1>Control Portal O' Doom</h1></span>
    <a href='{% url 'stuff-create'%}' class='btn btn-default btn-small'>New Project</a>
    <a href='{% url 'blog-create' %}' class='btn btn-default btn-small'>New Blog Post</a>
    <br />
    <div class='container-center'>
        {% include 'stuff/_projects.html' %}
    </div>
</div>
<script>
   $(document).ready(function(){
   var height = $(document).height() - 215;
   $('.container-center').height(height);
   });
</script>
{% endblock %}
