{% extends "base.html" %}

{% block title %}Admin{% endblock %}

{% block content %}
<div class='col-md-4 center-vertical'>
    <a href='{% url 'about-edit' %}' class='btn btn-default btn-large'>Edit Bio</a>
    <a href='{% url 'contact-edit' %}' class='btn btn-default btn-large'>Edit Contact Info</a>
    <a href='#' class='btn btn-default btn-large'>Add Resume</a>
</div>
<div class='col-md-3'>
    <h1>Blog</h1>
    <br />
    <a href='{% url 'blog-create' %}' class='btn btn-default btn-small'>New Blog Post</a>
    <div class='container-center'>
        {% for post in blog %}
            {% include 'blog/_post.html' %}
        {% endfor %}
    </div>
</div>
<div class='container col-md-5 pull-right'>
    <h1>Projects</h1>
    <br />
    <a href='{% url 'stuff-create'%}' class='btn btn-default btn-small'>New Project</a>
    <div class='container-center'>
        {% include 'stuff/_projects.html' %}
    </div>
</div>
<script>
   $(document).ready(function(){
   var height = $(document).height() - 215;
   $('.container-center').height(height);
   });
</script>
{% endblock %}
